IO feladatok/11 - NB1/NB1/obj
IO feladatok/12 - EU tagallamok/EU_Tagallamok/obj
IO feladatok/13 - Snooker/Snooker/obj
12 - EU tagallamok/EU_Tagallamok/bin
12 - EU tagallamok/EU_Tagallamok/obj
13 - Snooker/Snooker/bin
13 - Snooker/Snooker/obj
IO feladatok/26 - Nobel Dijak/Nobel/.vs
IO feladatok/26 - Nobel Dijak/Nobel/Nobel/obj
IO feladatok/37 - Hivasok/Hivasok/.vs
IO feladatok/37 - Hivasok/Hivasok/Hivasok/obj
